---
import "../styles/base.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/images/favicon-32x32.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="font-barlowmedium text-2xl text-moderateViolet">Astro</h1>
		<h2 class="text-red-500 font-barlowsemi text-2xl">SemiBold</h2>
	</body>
</html>
