---
import "../styles/base.css";
import Card from "../components/card.astro";
const posts = await Astro.glob("./posts/*.md");
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/images/favicon-32x32.png"
		/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Frontend Mentor | Testimonial Grid</title>
	</head>
	<body class="bg-lightGrayishBlue">
		<main>
			<div
				class="w-11/12 max-w-screen-xl mx-auto py-12 grid gap-4 md:gap-6 md:grid-cols-2 lg:grid-cols-4 lg:grid-rows-[repeat(2,_minmax(0,_auto))] lg:gap-8"
			>
				{
					posts.map((post, index) => (
						<Card content={post} num={index} />
					))
				}
			</div>
		</main>
	</body>
</html>
